body{
  text-align: center;
  font-family: 'Kanit', sans-serif;
  background-color: #4B3869;
  color: white;
}
.top{
  font-size: 60px;
  margin-bottom: 80px;
}
button{
  width: 100px;
  height: 100px;
  margin-right: 25px;
  font-size: 40px;
  padding-top: 30px;
  font-family: 'Kanit', sans-serif;
  border-radius: 10px;
  border-width: 0;
}
footer{
  margin-top: 150px;
}
button:active{
  color: #4B3869;
}
button:hover{
  box-shadow:  0 2px 4px 0 white,  0 2px 16px 0 white;

}
.instruct{
  margin-bottom: 50px;
}
.copyright{
  font-size: 12px;
  margin-top: 20px;
}
